{% if page.concept != '' and page.concept != nil %}
            {% assign concept = site.concepts | where: "reference",page.concept | first %}
            <h1>{{concept.title}}</h1>
            <h2>Sujets</h2>
            <p>
                {{concept.description}}
            </p>
            <ul>
                {% for sujet in concept.sujets %}
                    <li>{{sujet}}</li>
                {% endfor %}
            </ul>
            <h2>Tutoriel</h2>
            {% assign tutorials = concept.tutorials  %}
            <ul>
            {% for tutorial_reference in tutorials  %}
                <li>
                    {% assign tutorial = site.tutorials | where: "reference", tutorial_reference | first   %}
                    {% assign tutoriel_title = tutorial.title_en  %}
                    <div>
                        <a href="{{tutorial.link}}" target="_blank">{{ tutoriel_title }}</a>
                        <p>Langue : {{tutorial.language}} </p>
                        <p>{{tutorial.description}}</p>
                    </div>  
                </li>
            {% endfor %}
            </ul>
                <p>{{concept.content | markdownify}}</p>
²{% endif %}