<nav id="sidebar" class="sidebar" aria-label="Table of contents">
    <div class="sidebar-scrollbox">
        
    <a href="/" >
      
        <img width="100%" src="{{site.baseurl}}/images/logo/logo-codeur-academy.png" alt="Codeur Academy">
    </a>
 
    <ol class="chapter">
        {%- assign chapter_number = 1 -%}
        {%- assign parties = site.parties | where: "in_book" , true -%}
        {% for partie in site.data["collection_menus"] %}

        {%- assign chapitres = partie[1]  -%}
       
     
        <li class="chapter-item expanded affix"></li>
        <li class="part-title"> {{partie[0]}}</li>
            {% for chapitre in chapitres %}
        <li class="chapter-item expanded">
            <a href="{{site.baseurl}}{{chapitre.url}}" class="{%- if page.url == post.url -%} active {%- endif -%} ">
                <strong aria-hidden="true">{{chapter_number}}.</strong>  
                {%- if chapitre.title_in_part -%}
                {{ chapitre.title_in_part | escape }}
                {%- else -%}
                {{ chapitre.label | escape }}
                {%- endif -%}
            </a>
        </li>  
        {%- assign chapter_number = chapter_number | plus: 1 -%}  
        

            {%- endfor -%}
        {%- endfor -%}

        {{site.data["collection_menus"]}}
    </ol>
    </div>
       <div id="sidebar-resize-handle" class="sidebar-resize-handle"></div>
    </nav>